# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: windows-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '16.16.0'
  displayName: 'Install Node.js'

- script: |
    npm install -g @angular/cli@13.0.0
    npm install
  displayName: 'npm install'
- task: Npm@1
  displayName: Build
  inputs:
    command: custom
    verbose: false
    customCommand: 'run build'
- task: Npm@1
  displayName: Test
  inputs:
    command: custom
    verbose: false
    customCommand: 'run test-headless'
  continueOnError: true
- script: 
    mkdir $(Build.ArtifactStagingDirectory)\\dist
    xcopy "dist\client" $(Build.ArtifactStagingDirectory)\\dist /E/H/C
  displayName: Copy dist content
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: dist'
