<div
  class="d-flex flex-column align-items-center justify-content-center ems-main-div-height"
>
  <div class="col-3 ems-login-form-header">
    <div class="text-center">
      <h4 class="font-weight-normal">Register</h4>
    </div>
  </div>
  <div class="col-3 ems-login-form-div">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <app-text-input
        formControlName="displayName"
        [label]="'Display Name'"
      ></app-text-input>
      <app-text-input
        formControlName="email"
        [label]="'Email address'"
      ></app-text-input>
      <app-text-input
        formControlName="password"
        [label]="'Password'"
        [type]="'password'"
      ></app-text-input>

      <ul class="text-danger list-unstyled" *ngIf="registerError$ | async">
        <li *ngFor="let error of registerError$ | async">
          {{ error }}
        </li>
      </ul>
      <div class="d-flex justify-content-between">
        <div>
          <button
            [disabled]="
              registerForm.invalid || (registerStatus$ | async) == 'registering'
            "
            class="btn btn-primary"
            type="submit"
          >
            Sign Up
            <i
              *ngIf="(registerStatus$ | async) == 'registering'"
              class="fa fa-spinner fa-spin"
            ></i>
          </button>
        </div>
        <div>
          <a href="" routerLink="/account/login">Login</a>
        </div>
      </div>
    </form>
  </div>
</div>
