<div class="row ems-header">
  <div class="d-flex flex-row justify-content-between">
    <div>Designation List</div>
    <div>
      <a href="#" routerLink="/main/designations/add" class="ems-a">Create</a>
    </div>
  </div>
</div>
<div class="row ems-body" appTheme>
  <div class="mt-2 ems-content">
    <ng-container *ngIf="vm$ | async as vm">
      <div *ngIf="vm.loadingStatus !== 'loading'; else loading">
        <ng-container *ngIf="vm.designations">
          <app-table [data]="vm.designations">
            <ng-template #headers>
              <td>Name</td>
              <td>Basic</td>
              <td>TA%</td>
              <td>DA%</td>
              <td>HRA%</td>
              <td>Description</td>
              <td>Created Date</td>
              <td>Updated Date</td>
              <td></td>
              <td></td>
            </ng-template>
            <ng-template #rows let-row>
              <td>{{ row.name | stringmaxlength : 20 }}</td>
              <td>{{ row.basic }}</td>
              <td>{{ row.taPercentage | percent }}</td>
              <td>{{ row.daPercentage | percent }}</td>
              <td>{{ row.hraPercentage | percent }}</td>
              <td>{{ row.description | stringmaxlength : 20 }}</td>
              <td>
                {{ row.createdDate | date : serverAppConfig.uiDateTimeFormat }}
              </td>
              <td>
                {{ row.updatedDate | date : serverAppConfig.uiDateTimeFormat }}
              </td>
              <td>
                <a routerLink="/main/designations/update/{{ row.id }}">
                  <i
                    class="fa fa-pencil-square ems-edit-table-icon"
                    aria-hidden="true"
                  ></i>
                </a>
              </td>
              <td>
                <a>
                  <i
                    class="fa fa-trash ems-delete-table-icon"
                    (click)="delete(row.id)"
                    style="font-size: 1.5em; cursor: pointer"
                  ></i>
                </a>
              </td>
            </ng-template>
          </app-table>
        </ng-container>
      </div>
      <ng-template #loading>
        <div class="ems-loading">
          <h3>Loading please wait..</h3>
        </div>
      </ng-template>
    </ng-container>
  </div>
</div>
