<div class="row ems-header">
  <div>{{ statusText }}</div>
</div>
<div class="row ems-body" appTheme>
  <div class="row" style="height: 10rem">
    <div style="height: 2rem; margin-top: 5px">
      Error Details:{{ errorMsg }}
    </div>
    <div>
      Following may have caused the issue
      <ul>
        <li>Application is not able to connect to the server.</li>
        <li>Firewall may have blocked the request to server.</li>
        <li>
          An installed browser extension may have blocked the request to server.
        </li>
      </ul>
    </div>
  </div>
</div>
