/* Place to declare all css variables*/
$emsPrimaryThemeColor: #0d6efd;
$emsGreenThemeColor: #69db7c;
// $emsPrimaryThemeColor: #5caef3;
$emsSecondaryThemeColor: #5caef3;

$emsPrimaryBackGroundColor: #f6f6f6;
$emsPrimaryBodyBackGroundColor: rgb(217, 224, 230);
$emsSecondaryBodyBackGroundColor: rgb(156, 191, 221);

$emsTertiaryBackGroundColor: #faebd7;
$emsDownArrowColor: #000000;
$emsPageHeaderColor: #fff;

$emsTableHeaderColor: #1971c2;
$emsTableRowDeleteColor: #ff0000;
$emsTableRowHoverColor: #5caef3;
.ems-main-div-height {
  height: 90vh;
}
$emsShadowColor: #888888;
$emsBorderRadius: 0.4rem;
