<div class="row ems-header">
  <div class="d-flex flex-row justify-content-between">
    <div>
      <a class="ems-a">Employee Details</a>
    </div>
    <div class="d-flex flex-row">
      <div>
        <a href="#" routerLink="/main/employees/add" class="ems-a">Create</a>
      </div>
      <div>
        <a href="#" routerLink="/main/employees" class="ems-a">Employee List</a>
      </div>
    </div>
  </div>
</div>
<div class="row ems-body" appTheme>
  <div class="mt-2 ems-content">
    <ng-container *ngIf="employee$ | async as employee">
      <div class="ems-empdetails-grid">
        <div class="ems-empldetails-grid-img">
          <img
            src="{{ employee.imageUrl }}"
            class="img-fluid rounded-start"
            alt="{{ employee.firstName }} {{ employee.lastName }}"
          />
        </div>
        <div class="ems-empdetails-cards-main-div">
          <div class="d-flex flex-column">
            <div class="ems-empdetails-cards-header-div">
              <div>Personal Details</div>
            </div>
            <div class="ems-empdetails-cards-inner-div">
              <div class="row">
                <div class="col-4">First Name</div>
                <div class="col-8">
                  {{ employee.firstName }}
                </div>
              </div>
              <div class="row">
                <div class="col-4">Middle Name</div>
                <div class="col-8">
                  {{ employee.middleName }}
                </div>
              </div>
              <div class="row">
                <div class="col-4">Last Name</div>
                <div class="col-8">{{ employee.lastName }}</div>
              </div>
              <div class="row">
                <div class="col-4">DOB</div>
                <div class="col-8">{{ employee.dob | date }}</div>
              </div>
              <div class="row">
                <div class="col-4">Age</div>
                <div class="col-8">{{ employee.age }}</div>
              </div>
              <div class="row">
                <div class="col-4">Contact Number</div>
                <div class="col-8">{{ employee.contactNo }}</div>
              </div>
              <div class="row">
                <div class="col-4">Sex</div>
                <div class="col-8">{{ employee.sex }}</div>
              </div>
              <div class="row">
                <div class="col-4">Description</div>
                <div class="col-8">{{ employee.description }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="ems-empdetails-cards-main-div">
          <div class="d-flex flex-column">
            <div class="ems-empdetails-cards-header-div">
              <div>Address Details</div>
            </div>
            <div class="ems-empdetails-cards-inner-div">
              <div class="row">
                <div class="col-4">Address1</div>
                <div class="col-8">
                  {{ employee.address1 }}
                </div>
              </div>
              <div class="row">
                <div class="col-4">Address2</div>
                <div class="col-8">{{ employee.address2 }}</div>
              </div>
              <div class="row">
                <div class="col-4">City</div>
                <div class="col-8">{{ employee.city }}</div>
              </div>
              <div class="row">
                <div class="col-4">State</div>
                <div class="col-8">{{ employee.state }}</div>
              </div>
              <div class="row">
                <div class="col-4">Country</div>
                <div class="col-8">{{ employee.country }}</div>
              </div>
              <div class="row">
                <div class="col-4">Zip Code</div>
                <div class="col-8">{{ employee.zipCode }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="ems-empdetails-cards-main-div">
          <div class="d-flex flex-column">
            <div class="ems-empdetails-cards-header-div">
              <div>Employment Details</div>
            </div>
            <div class="ems-empdetails-cards-inner-div">
              <div class="row">
                <div class="col-4">Type</div>
                <div class="col-8">
                  {{ employee.firstName }}
                </div>
              </div>
              <div class="row">
                <div class="col-4">Hire Date</div>
                <div class="col-8">
                  {{ employee.hireDate | date }}
                </div>
              </div>
              <div class="row">
                <div class="col-4">Basic</div>
                <div class="col-8">{{ employee.basic }}</div>
              </div>
              <div class="row">
                <div class="col-4">TA Percentage</div>
                <div class="col-8">{{ employee.taPercentage }}</div>
              </div>
              <div class="row">
                <div class="col-4">DA Percentage</div>
                <div class="col-8">{{ employee.daPercentage }}</div>
              </div>
              <div class="row">
                <div class="col-4">HRA Percentage</div>
                <div class="col-8">{{ employee.hraPercentage }}</div>
              </div>
              <div class="row">
                <div class="col-4">Department</div>
                <div class="col-8">{{ employee.departmentName }}</div>
              </div>
              <div class="row">
                <div class="col-4">Designation</div>
                <div class="col-8">{{ employee.designationName }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
